*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(coffeshopblogbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgba(29, 5, 5, 0.952);
    padding: 12px 20px;
    font-size: 25px;
}

.navbar .blog {
    color: #a78295;
}

.logo img {
    width: 30%;
}
.menu {
    display: flex;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #f1dfae;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative ;
    text-transform: uppercase;
}  
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu , .close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    display: none;    
}
.open-menu  {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}
.slider {
    width: 2780px;
    max-width: 100vw;
    height: 1200px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img {
    width: 2780px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots li.active{
    width: 30px;
}

.content {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.content h1 {
    color: #f1dfae;
    font-family: 'Great Vibes', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
.content p {
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-size: 50px;
}


.clip iframe{
    justify-content: space-around;
    display: inline-block;
    width: 500px;
    height: 450px;
    border-radius: 10px;
}
.clip {
    align-items: center;
    text-align: center;
    padding-top: 20px ;
}



@media(max-width: 768px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgb(29, 5, 5);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .slider {
        height: 400px;
    }
}